.heroContainer {
  font-family: "Inter", sans-serif;
  padding: 20px 20px 40px 20px;
  display: flex;

  .text {
    position: relative;
    width: 70%;
    padding-right: 0;
    h3 {
      color: #ff3998;
      font-size: 14px;
      letter-spacing: 3px;
    }
    p {
      font-weight: 400;
      color: #555555;
    }
  }
  .btn {
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to right, rgb(254, 77, 106), red, rgb(250, 224, 66))
        border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    padding: 10px 30px;
  }
  .containerImg {
    position: relative;
    float: right;
    width: 50%;
    height: 60%;
    img {
      margin-top: -60px;
      shape-outside: circle(50%);
    }
  }
}
@media (min-width: 768px) {
  .heroContainer {
    padding: 20px 50px 20px 50px;
    display: flex;

    .containerImg {
      display: flex;
      img {
        margin-top: -30px;
        float: none;
        justify-content: center;
      }
    }
    .btn {
      background: linear-gradient(white, white) padding-box,
        linear-gradient(to right, rgb(254, 77, 106), red, rgb(250, 224, 66))
          border-box;
      border-radius: 50em;
      border: 2px solid transparent;
      padding: 8px 25px;
      font-size: 10px;
      margin-top: 10px;
    }

    .text {
      h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 43px;
      }
      h3 {
        font-size: 8px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
