.footerContainer {
  font-family: "Inter", sans-serif;
  padding: 20px;
  p,
  .fa-brands {
    padding-top: 5px;
    font-size: 14px;
    color: rgb(77, 77, 77);
    font-weight: 400;
  }
  .fa-brands {
    padding-right: 10px;
  }
  img {
    width: 150px;
    height: 25px;
    margin-left: -10px;
  }
}
.footerText {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  h1 {
    padding-top: 20px;
    color: rgb(26, 26, 26);
    font-size: 16px;
  }
  p {
    color: rgb(77, 77, 77);
    font-size: 14px;
    line-height: 8px;
    padding: 0;
    font-weight: 400;
  }
}

#footer {
  .copyright {
    padding: 30px 20px 30px 20px;
    font-size: 14px;
    color: rgb(116, 116, 116);
    .display {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .footerContainer {
    display: flex;
    padding: 20px 40px 20px 40px;
    align-items: center;
    justify-content: space-between;

    .footerText {
      display: flex;
      justify-content: space-between;
      > div {
        padding-right: 25px;
        h1 {
          padding-top: 0;
          margin-top: 0;
        }
      }
    }
  }

  #footer {
    padding-right: 50px;
    padding-left: 50px;
    .copyright {
      display: flex;
      justify-content: space-between;
      padding: 30px 40px 30px 50px;
      font-size: 14px;
      color: rgb(116, 116, 116);
      .display {
        display: flex;
      }
    }
  }
}
